.contact{
    height: 100vh;
    width: 100vw;
    background: url('/images/contactBanner.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    background-color: rgb(167, 164, 164);
    background-blend-mode: multiply;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-top: 50px;
    flex-direction: column;
}

.contact > h1{
    color: white;
    text-decoration: underline;
    font-size: 35px;
    line-height: 40px;
}

.contactDiv{
    max-height: 420px;
    height: 420px;
    width: 300px;
    background: white;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.nameDiv, .emailDiv{
    height: 70px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.nameDiv > p{
    font-size: 15px;
}

.nameDiv > input{
    width: 90%;
    height: 35px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.emailDiv > p{
    font-size: 15px;
}

.emailDiv > input{
    width: 90%;
    height: 35px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
}

.messageDiv{
    height: 150px;
    width: 100%;
    /* border: 1px solid red; */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.messageDiv > p{
    font-size: 15px;
}

.messageDiv > textarea{
    width: 90%;
    height: 100px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-top: 5px;
    border: 0;
}

.mailButton{
    width: 80%;
    height: 35px;
    background: rgb(243, 69, 69);
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.or{
    font-size: 12px;
}

.whatsappButton{
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    background: rgb(64, 241, 64);
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 420px){

    .contact{
    height: 100vh;
    width: 100vw;
    background: url('/images/contactBanner.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    background-color: rgb(167, 164, 164);
    background-blend-mode: multiply;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-top: 50px;
    flex-direction: column;
}

.contact > h1{
    color: white;
    text-decoration: underline;
    font-size: 30px;
    line-height: 40px;
}

.contactDiv{
    max-height: 95%;
    height: 95%;
    width: 300px;
    background: white;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.nameDiv, .emailDiv{
    height: 70px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.nameDiv > p{
    font-size: 15px;
}

.nameDiv > input{
    width: 90%;
    height: 35px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.emailDiv > p{
    font-size: 15px;
}

.emailDiv > input{
    width: 90%;
    height: 35px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
}

.messageDiv{
    height: 150px;
    width: 100%;
    /* border: 1px solid red; */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.messageDiv > p{
    font-size: 15px;
}

.messageDiv > textarea{
    width: 90%;
    height: 100px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-top: 5px;
    border: 0;
}

.mailButton{
    width: 80%;
    height: 35px;
    background: rgb(243, 69, 69);
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.or{
    font-size: 12px;
}

.whatsappButton{
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    background: rgb(64, 241, 64);
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

}

