.mainbody{
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.mainbody::-webkit-scrollbar{
    display: none;
}