.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    display: flex;
    z-index: 5;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    /* border: 1px solid white; */
}

.left > img{
    height: 40px;
    width: 40px;
}

.right{
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigationDiv{
    width: 90px;
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.menu{
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.menuIcon{
    height: 30px;
    width: auto;
    color: white;
    margin: 0;
    /* transform: rotateZ(180deg); */
    transition: all 500ms ease;
}
.menuIconActive{
    height: 30px;
    width: auto;
    color: white;
    margin: 0;
    /* transform: rotateZ(180deg); */
    transition: all 500ms ease;
}
.menuIconInactive{
    height: 30px;
    width: auto;
    color: white;
    margin: 0;
    transform: rotateZ(180deg);
    transition: all 500ms ease;
}

@media only screen and (max-width: 520px){

    .navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    display: flex;
    z-index: 5;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    /* border: 1px solid white; */
}

.left > img{
    height: 40px;
    width: 40px;
    /* border: 1px solid white; */
}

.right{
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigationDiv{
    width: 60px;
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.menu{
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.menuIcon{
    height: 22px;
    width: auto;
    color: white;
    margin: 0;
    /* transform: rotateZ(180deg); */
    transition: all 500ms ease;
}
.menuIconActive{
    height: 30px;
    width: auto;
    color: white;
    margin: 0;
    /* transform: rotateZ(180deg); */
    transition: all 500ms ease;
}
.menuIconInactive{
    height: 30px;
    width: auto;
    color: white;
    margin: 0;
    transform: rotateZ(180deg);
    transition: all 500ms ease;
}

}